/* start global css */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: h-regular;
}
@font-face{
    font-family: h-light;
    src: url(../fonts/light.ttf) format(opentype);
}
@font-face{
    font-family: h-regular;
    src: url(../fonts/Regular.ttf) format(opentype);
}
@font-face {
    font-family: h-bold;
    src: url(../fonts/Bold.ttf)  format(opentype);
}
.aa{
    font-size: 25px;
    margin-right: 5px;
    color: #505050;
    background-color: #fff568;
    border: 1px solid #fff568;
    padding: 5px 25px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all .38 ease-out;
    -webkit-transition: all .38 ease-out;
    -moz-transition: all .38 ease-out;
    -ms-transition: all .38 ease-out;
    -o-transition: all .38 ease-out;
}
.aa:hover{
    background-color: transparent;
    color: #fff568 ;
    box-shadow: 0px 0px 10px 5px #fff568 ;
}
.sec1{
    text-align: center;
}
.sec1 h4{
    color: #505050;
    font-size: 35px;
}
.sec1 h6{
    color: #59cbbc;
    font-size: 20px;
    margin-top: 10px;
}
.container{
    width: 80%;
    margin: auto;
}
.clear{
    clear:both
}
a{
    text-decoration: none;
}
/* end global css */

/* start navbar */
section.navbar{
    padding: 20px 0;
    background-color: #59c6bc;
}
section.navbar .logo{
    float: right;
}
section.navbar .nav {
    float: left;
}
section.navbar .nav ul li{
    display: inline-block;
    margin-left: 22px;
    margin-top: 24px;
}
section.navbar .nav ul li:last-child{
    margin-left: 0px;
}
section.navbar .nav ul li a{
    font-size: 15px;
    color: #fff;  
}
section.navbar .nav ul li a.main{
    border: 1px solid #fff568;
    padding: 10px 25px;
    color: #505050;
    background-color: #fff568;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
section.navbar .nav ul li a.main:hover{
    box-shadow: 0px 0px 10px 3px #fff568;
}
/* end navbar */
/* start header */
section.sec header{
    background: url(../images/welcom-bg.png) no-repeat;
    min-height: 630px;
    background-size: cover !important;
}
section.sec header h1{
    font-size: 40px;
    padding-top: 80px ;
    font-family: h-bold;
    color: #fff;
    margin-right: 20px;
}
section.sec header p{
    color: #fff;
    font-size: 30px;
    width: 320px;
    line-height: 50px;
    padding: 30px 0px;
    padding-bottom: 30px;
}
section.sec header .aa{
    font-size: 28px;
    margin-right: 5px;
    color: #505050;
    background-color: #fff568;
    border: 1px solid #fff568;
    padding: 10px 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all .38 ease-out;
    -webkit-transition: all .38 ease-out;
    -moz-transition: all .38 ease-out;
    -ms-transition: all .38 ease-out;
    -o-transition: all .38 ease-out;
}
section.sec header .aa:hover{
    background-color: transparent;
    color: #fff568 ;
    box-shadow: 0px 0px 10px 5px #fff568 ;
}
@media (max-width:767px) {
    section.sec header h1{
        font-size: 25px;
        text-align: center;
        padding-top: 60px ;
        font-family: h-bold;
        color: #fff;
    }
    section.sec header p{
        color: #fff;
        font-size: 18px;
        text-align: justify;
        margin-right: 50px;
        width: 320px;
        line-height: 30px;
        padding: 20px 0px;
        padding-bottom: 30px;
    }
    section.sec header a{
        font-size: 20px;
        margin-right: 60px;
        color: #505050;
        background-color: #fff568;
        border: 1px solid #fff568;
        padding: 5px 20px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        transition: all .38 ease-out;
        -webkit-transition: all .38 ease-out;
        -moz-transition: all .38 ease-out;
        -ms-transition: all .38 ease-out;
        -o-transition: all .38 ease-out;
    }
}
/* end header */

/* start section.servecs */
section.servecs{
    padding: 20px 0px;
    background-color: #fff;
}
section.servecs .boxes{
    display: flex;
    padding: 60px 0px;
}
section.servecs .boxes .box{
    flex: 1;
    transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}
section.servecs .boxes .box:hover{
   transform: scale(1.02) translateY(6px);
   -webkit-transform: scale(1.02) translateY(6px);
   -moz-transform: scale(1.02) translateY(6px);
   -ms-transform: scale(1.02) translateY(6px);
   -o-transform: scale(1.02) translateY(6px);
   box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
}
section.servecs .boxes .box img{
    width: 76px;
    height: 72px;
    display: inline-block;
}
@media (max-width :991px) {
    section.servecs .boxes {
        flex-direction: column ;
    }
}
section.servecs .boxes .box:nth-child(1){
    background-color: #2d98a2;
}
section.servecs .boxes .box:nth-child(2){
    background-color: #4fc5ba;
}
section.servecs .boxes .box:nth-child(3){
    background-color: #eb774c;
}
section.servecs .boxes .box:nth-child(4){
    background-color: #edbf47;
}
section.servecs .boxes .box{
    padding: 50px 40px;
}
section.servecs .boxes .box h3{
    margin-top: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
}
section.servecs .boxes .box p{
    font-size: 21px;
    color: #fff;
    line-height: 30px;
}
/* end section.servecs */
/* start news */
section.news{
    background-color: #eee;
    padding: 50px 0px;
}
section.news .boxes{
    display: flex;
    padding-top: 50px;
}

/* start div .pp */
section.news .boxes .box .pp{
    padding-top: 10px ;
    background-color: #fff;
    margin-left: 15px;
    padding: 20px 15px;
}
@media (max-width:991px) {
    section.news .boxes{
        flex-direction: column;
    }
    section.news .boxes .box {
        margin-left: 0px !important;
        margin-bottom: 15px;
    }
}
section.news .boxes .box {
    position: relative;
}
section.news .boxes .box .span1{
    position: absolute;
    display: inline-block;
    margin-top: 10px;
    margin-right: 80%;
    background-color: rgba(255,245,104,0.9);
    font-size: 20px;
    padding: 4px 10px;
    font-family: h-bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
section.news .boxes .box2{
    margin-left: 0px;
}
section.news .boxes .box .oo{
    margin-top: 3px;
    color: #505050;
    font-size: 20px;
}
section.news .boxes .box .oo i{
    color: #59cbbc;
   
}
section.news .boxes .box .pp h4{
    margin: 20px 0px;
    color: #767676;
    font-size: 22px;
    margin-right: 18px ;
}
section.news .boxes .box .pp p{
    margin-right: 20px;
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    color: #999;
    margin-bottom: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section.news .boxes .box .pp .aa{
    display: inline-block;
    font-size: 22px;
    margin-right: 15px;
    margin-bottom: 8px;
    color: #505050;
    background-color: #fff568;
    border: 1px solid #fff568;
    padding: 8px 18px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all .38 ease-out;
    -webkit-transition: all .38 ease-out;
    -moz-transition: all .38 ease-out;
    -ms-transition: all .38 ease-out;
    -o-transition: all .38 ease-out;
} 
section.news .boxes .box .pp .aa:hover{
    background-color: transparent;
    color: blue ;
    border: 1px solid pink;
    background-color: pink;
    box-shadow: 0px 0px 10px 5px pink ;
}
/* end news */
/* start section.over */
section.over{
    background-color: #fff;
    height: 400px;
    background-size: cover !important;
    position: relative;
    padding: 80px 0;
}
section.over::after{
    content: "";
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    background-color: rgba(79,197,186,0.7); 
    z-index: 1;
}
 section.over .container{
    position: relative;
    z-index: 2;
} 
section.over .sec1 h6{
    color: #fff;
}
section.over .sec1 h4{
    color: #fff;
}
/* start media */
@media (max-width:991px) {
    section.over .sec1 .goals{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    section.over{
        background-color: #fff;
        height: 400px;
        background-size: cover !important;
        position: relative;
        padding: 60px 0;
    }
    section.over .sec1 .goals .goal img{
        margin-left: 20px;
        width: 60px;
        flex: 0.5;
        margin-bottom: 15px;
    }
    section.over .sec1 .goals .goal h1{
        font-size: 30px;
        color: #fff;
        margin-bottom: 10px;
    }
    section.over .sec1 .goals .goal p{
        color: #505050;
        font-size: 15px;
        margin-top: 8px;
        margin-bottom: 10px;
    }
}
/* end media */
section.over .sec1 .goals{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
section.over .sec1 .goals .goal{
    flex: 1;
    text-align: center;
    display: flex;
}
section.over .sec1 .goals .goal img{
    margin-left: 15px;
    width: 81px;
}
section.over .sec1 .goals .goal h1{
    font-size: 35px;
    color: #fff;
}
section.over .sec1 .goals .goal p{
    color: #505050;
    font-size: 25px;
    margin-top: 15px;
}
/* end section.over */
/* start say */
section.say{
    padding: 20px;
}
section.say .sec1{
    padding: 60px 0;
}
section.say  .boxes{
    display: flex;
    flex-wrap: wrap;
}
@media (max-width:991) {
    section.say  .boxes{
        display: flex;
        flex-direction: column;
    }
    section.say  .boxes .box{
        width: 100%;
        margin-left: 59px;
        display: flex;
        margin-bottom: 70px;
    }
}
section.say  .boxes .box{
    width: 45%;
    margin-left: 59px;
    display: flex;
    margin-bottom: 70px;
}
section.say  .boxes .box img{
    width: 72px;
    height: 72px;
    margin-left: 10px;
}
section.say  .boxes .box div{
    background-color: #eee;
    padding: 13px 15px;
    position: relative;
    margin-right: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
section.say  .boxes .box div::before{
    content: "";
    display: inline-block;
    border: 10px solid red;
    border-color: transparent transparent transparent #eee;
    position: absolute;
    margin-right: -35px;

}
section.say  .boxes .box div:nth-child(even){
    margin-left: 0;
}
section.say  .boxes .box div ul{
    list-style-type: none;
}
section.say  .boxes .box div ul li{
    display: inline-block;
}
section.say  .boxes .box div h3{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
}
section.say  .boxes .box div p{
    margin-bottom: 10px;
    font-size: 18px;
    color: #505050;
}
section.say  .boxes .box div ul li i{
    margin-left: 5px;
    color: rgb(79, 197, 186);
}
section.say  .boxes .box div ul li span{
    margin-left: 10px;
    font-size: 18px;
    color: #505050;
}
/* end say */
/* start call us */
section.call{
    padding: 20px 0;
    background-color: #eee;
}
section.call .boxes{
    display: flex;
    padding: 70px 0;
}
 section.call .boxes:nth-child(1){
    flex: 2;
 }
section.call .boxes .box{
    flex: 1;
    background-color: #fff;
    height: 334px;
    margin-right: 30px;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
section.call .boxes .box h4 {
    font-size: 25px;
    color: #767676;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}
section.call .boxes .box .ll{
    float: right;
}
section.call .boxes .box .ll i{
    margin-left: 14px;
    color: rgb(79,197,186);
}
section.call .boxes .box .ll span{
    color: #000;
    font-size: 20px;
    display: inline-block; 
}
section.call .boxes .box .ll p{
    color: #666;
    font-size: 20px;
    margin-top: -40px;
    text-align: center;
    margin-bottom: 2px;
}
 section.call .boxes .box .ll a{
    color: rgba(0, 0, 0, 0.9);
    display: inline-block;
    margin-top: -80px;
    
} 
section.call .boxes .box h3{
    font-size: 25px;
    color: #767676;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}
section.call .boxes .box p{
    color: #666;
    margin-top: 13px;
    font-size: 18px;
    margin-bottom: 25px;
    text-align: center;
}
section.call .boxes .box div{
    text-align: center;
    margin-bottom: 25px;
}
section.call .boxes .box .g span{
   background-color: #fff568;
   padding: 10px 20px;
   color: rgba(0, 0, 0, 0.7);
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}
section.call .boxes .box .a span{
    font-size: 20px;
}
/* end call us */
/* start map */
section.map{
    height: 350px;
    background-size: cover !important;
}
section.map div{
    width: 450px;
    padding: 20px;
    background-color: rgba(79,197,186,0.7);
    display: inline-block;
    margin-top: 110px;
    margin-right: 35%;  
    position: relative;
    display: inline-block;
}
section.map div::after{
    content: "";
    display: inline-block;
    border: 15px solid palegreen;
    position: absolute;
    border-color: rgb(79, 197, 186) transparent transparent transparent;
    margin-right: 40%;
    margin-top: 20px;
}
section.map div input{
    padding: 10px 60px;
    font-size: 15px;
    display: inline-block;
}
section.map div ul{
    list-style-type: none;
    float: left;
}
section.map div ul li{
    display: inline-block;
    background-color: #666;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
section.map div ul li a{
    color: #fff;
    font-size: 18px;
}
input:focus{
    outline: none;
}
/* end map */
/* start footer */
footer{
    padding: 10px;
    text-align: center;
}
footer div{
    width: 50%;
    margin: 0 auto;
}
footer h6{
    padding: 50px 0;
    font-size: 30px; 
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}
footer p{
    margin-top: -8px;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
}
footer ul{
    list-style-type: none;
}
footer ul li{
    display: inline-block;
    margin-right: 20px;
    border: 2px solid #000;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
footer ul li a{
    font-size: 20px;
    transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}
footer ul li a:hover i{
    color: #fff568;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
footer ul li .oo{
    color: #1877f2;
}
footer ul li .pp{
    color: #1da1f2;
}
footer ul li .bb{
    color: #4285f4;
}
.fixed-div{
    width: 80px;
    height: 80px;
    background-color:#25d366 ;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 5px #25d366; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    
}
.fixed-div i{
    font-size: 40px;
    color: #fff;
}
/* end footer */